header {
    margin: -20px;
    padding: 0;
    border-bottom: 1px solid black;
}

.logoHeader {
    height: 120px;
    margin-left: 200px;
}

.subNav1 {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
}

.subNav1 h1 {
    padding-left: 5%;
}


.subNav1 ul {
    position: absolute;
    right: 1%;
}

.subNav1 ul li {
    padding: 1.5rem;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
}

.subNav2 ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.subNav2 ul li {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
}

.NavLi {
    text-decoration: none;
    color: black;
}